<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="https://adobe-fonts.github.io/source-code-pro/source-code-pro.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script type="application/javascript" src="../static/js/index.js"></script>
    <script type="application/javascript">
        connectWS()
    </script>
</head>
<body class="black">
    <h1 id="info">Map</h1>
    <div class="container">
        <div id="map">
        </div>
    </div>
</body>
</html>